body{
    background-color: rgba(163, 163, 163, 0.432);
}
#Main{
    min-width: 600px;
    max-width: 1000px;
    max-height: max-content;
    background-color: aquamarine;
    margin: 60px auto;
}
#Header{
    text-align: center;
    
}